{% extends 'admin/base_admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_admin_show', {'id': user.id}) }}"><i class="fa-solid fa-eye fa-lg"></i></a>
                    <a href="{{ path('app_user_admin_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg ml-3"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_admin_new') }}" class="btn btn-success btn-lg">Nouvel utilisateur</a>
{% endblock %}
